:root {
    --green01: 48, 50, 38;
    --green01-hex: #303226;
    --green05: #D4D7C4;
    --green02: #555842;
    --green03: #7D8165;
    --green04: #A4A888;
    --green07: #FEFFF8;
    --green-nav: #555842;
    --yellow02: #E8C66F;
    --yellow03: #EFD79A;
    --bs-tertiary-bg-rgb: var(--green01);
    --bs-heading-color: #F9FFD3;
    --gray02: #3F3F3F;
    --navbar-height: 65px;
    --sticky-footer-height: 60px;
    --pink-link: #F1DDDA;
    --brown04: #E9DED0;
}
.skip-links {
    list-style: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    color: white;
}

.skip-links a:focus {
    top: 0;
    z-index: 1;
}

body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    background-color: var(--green07);
    max-width: 100vw;
    overflow-x: hidden;
}

.btn-primary {
    --bs-btn-hover-bg: #FFF3D6;
    --bs-btn-hover-color: #555842;
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: #E8C66F;
    --bs-btn-active-color: #E8C66F;
}

.btn-primary:hover {
    border: 1px solid #E8C66F;
}

.btn-secondary {
    --bs-btn-hover-bg: none;
    --bs-btn-hover-color: #E4AB1B;
    --bs-btn-active-bg: #FFF3D6;
    --bs-btn-active-color: #E4AB1B;
}

.btn-secondary:hover {
    border: 1px solid #E4AB1B;
}

h1,
h2,
h3,
h4 {
    font-family: 'Baloo Chettan 2';
}

h2,
h3 {
    color: var(--green01-hex);
}

main {
    padding-top: var(--navbar-height);
    overflow-x: hidden;
}

section {
    height: calc(100vh - var(--navbar-height));
}

.navbar {
    --bs-navbar-active-color: #E4AB1B;
}

.nav-link {
    color: var(--green07);
    text-transform: uppercase;
}

.navbar-nav {
    --bs-nav-link-hover-color: var(--yellow03);
}

.navbar .container-fluid {
    height: var(--navbar-height);
}

/* for hamburger menu */
.navbar .navbar-toggler {
    border: none;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23FEFFF8' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.display-1 {
    font-weight: 500;
}

.hero-text h2 {
    color: var(--green07);
}

.hero {
    background-image: url(../images/hero-img-mobile.png);
    background-size: cover;
}

.btn-primary {
    --bs-btn-bg: #E8C66F;
    --bs-btn-color: #3F3F3F;
    border: none;
    --bs-btn-padding-x: 3rem;
}

.hero-text {
    bottom: 25%;
}

.bg-green {
    background-color: var(--green-nav);
}

.icon-button::before {
    content: url(../images/icon-plant.png);
    padding-right: 10px;
}

/* about-section */
.about-image-container {
    height: 80%;
}

.about-image-wrapper {
    height: 40%;
}

.about-image {
    background: url(../images/story-image-mobile.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 100%;
}

.about-text {
    height: 60%;
}

p {
    color: var(--gray02);
}

.blurb-text {
    background-color: var(--green05);
    height: 20%;
}

/* menu */
.card {
    background-color: var(--brown04);
    --bs-card-border-radius: none;
}

.card-img,
.card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* hours */
.hours-table {
    background-color: var(--green05);
    border-top-right-radius: 25px;
}

/* "sticky footer" */
.bg-dark {
    background-color: rgb(28, 29, 22) !important;
}

.btn-secondary {
    --bs-btn-bg: #E8C66F;
    --bs-btn-color: #3F3F3F;
    border: none;
}

/* footer */
footer {
    background-color: var(--green04);
    padding: 2rem;
    padding-bottom: 5rem;
    margin-bottom: var(--sticky-footer-height);
    background-image: url(../images/footer-design.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
}

footer .nav-link {
    text-transform: none;
}

footer a {
    width: 100%;
    max-width: 70%;
}

.btn-outline-primary {
    --bs-btn-border-color: var(--green05);
    --bs-btn-color: var(--gray02);
}

.copyright {
    color: var(--green04);
    font-size: .9rem;
}

/* Here starts custom css for partners page */
.hero-partners {
    background-image: url(../images/hero-partners-mobile.png);
    background-size: cover;
}

.hero-partners-text {
    top: 40%;
}

.hero-partners-text h2 {
    color: var(--green07);
}

.mission-text {
    background-color: var(--green05);
}

.mission-text::before {
    content: 'Organic';
    position: absolute;
    bottom: -2rem;
    left: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 700;
    font-family: 'Baloo Chettan 2';
    opacity: 0.03;
}

.partners-section::before {
    content: 'Sustain';
    position: absolute;
    top: -2.25rem;
    left: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 700;
    font-family: 'Baloo Chettan 2';
    opacity: 0.03;
    z-index: 2;
}

.partners {
    background-color: var(--green-nav);
}

.partners h2,
.partners h3 {
    color: var(--green05);
}

.carousel h3 {
    font-weight: 500;
    color: white;
}

.carousel p {
    color: var(--green07);
}

.lrg-text {
    color: var(--green03);
    font-size: 3.5rem;
}

.difference-section {
    height: initial;
}

.difference-insights {
    height: 390px;
}

.difference-insights::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 10px;
    background-color: var(--green01-hex);
}

.insight {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: var(--green05);
    padding: 1rem;
    cursor: pointer;
}

.insight:hover {
    background-color: var(--green04);
}

.insight-icon {
    background-repeat: no-repeat;
    background-size: cover;
}

.insight:first-of-type {
    top: 1.5rem;
}

.insight:first-of-type .insight-icon {
    background-image: url(../images/water.svg);
}

.insight:nth-of-type(2) {
    top: calc(1.5rem + 5rem + 2rem);
}

.insight:nth-of-type(2) .insight-icon {
    background-image: url(../images/co2.svg);
}

.insight:last-of-type {
    top: calc(1.5rem + 5rem + 2rem + 5rem + 2rem);
}

.insight:last-of-type .insight-icon {
    background-image: url(../images/plant.svg);
}

.insight-images-container {
    height: 400px;
}

.insight-images-container img:first-of-type {
    width: 66%;
    border-top-right-radius: 30px;
    max-height: 66%;
    object-fit: cover;
}

.insight-images-container img:last-of-type {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 66%;
    border-top-left-radius: 30px;
    max-height: 66%;
    object-fit: cover;
}

.cta-container {
    background-color: var(--green01-hex);
}

/* Here starts menu page custom css */
.menu {
    height: initial;
    padding: 0 !important;
}

.hero-food {
    background-image: url(../images/hero-food.png);
    background-size: cover;
}

.hero-food-text {
    bottom: 45%;
}

.food-blurb {
    background-color: var(--green05);
    height: 20%;
}

.appetizers h2 {
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 10%;
    text-align: center;
}

.appetizers h3 {
    left: 0;
    bottom: -5%;
}

h4 {
    color: var(--green02);
    text-transform: uppercase;
}

h5 {
    color: var(--green03);
}

/* here starts the menu cards */
.menu-item {
    display: flex;
}

/* bar that slides when clicken on the dish image */
.menu-item::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 110%;
    background-color: var(--green05);
    left: 48%;
    top: -10px;
    border-radius: 20px;
}

/* this will style image */
.menu-item .img-wrapper {
    width: 49%;
    border-bottom-left-radius: 20px;
    height: 160px;
    overflow: hidden;
}

.menu-item .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*will not distort image */
}

.menu-item .menu-item-content {
    margin-left: 0.5rem;
    width: 50%;
}

/* this will hide dish description */
.menu-item p {
    display: none;
}

/* when click, this will replace the image */
.menu-item.active {
    background-color: var(--green05);
    border-bottom-left-radius: 20px;
    display: block;
    padding: 0.5rem 1rem;
}

.menu-item.active .img {
    display: none;
}

/* bar will slide to the left */
.menu-item.active::before {
    left: 0;
}

.menu-item.active .menu-item-content {
    display: flex;
    margin-left: 0;
}

.menu-item.active p {
    display: block;
}

/*here ends custom style of card active and inactive*/

@media (min-width: 768px) {
    :root {
        --navbar-height: 80px;
    }

    .navbar-collapse {
        background-color: transparent;
    }

    .hero {
        background-image: url(../images/hero-image-large-screen.png);
    }

    .hero-text {
        right: 0;
    }

    .about-image-container {
        display: flex;
        align-items: center;
    }

    .about-image-wrapper {
        height: 62%;
        padding: 3rem;
    }

    .about-image {
        background-image: url(../images/about-image-large-screen.png);
        background-size: contain;
    }

    .blurb-text {
        background-position: top;
        justify-content: center;
        font-size: larger;
    }

    .appetizers h3 {
        width: 100%;
        text-align: center;
    }

    .hero-food-text {
        left: 0;
    }

    .menu {
        padding: initial !important;
    }

    .menu .card {
        border: none;
    }

    .home.hours img {
        height: 140%;
        margin-top: -3.5rem;
        object-fit: fill;
    }

    /* Partners */
    .hero-partners {
        height: 100%;
       background-image: url(../images/hero-partners-large-screen.png);
    }

    .hero-partners-text {
        top: 30%;
    }

    .mission-text {
        height: 33%;
    }

    .mission-text::before {
        content: 'Organic';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: 12rem;
        font-weight: 700;
        font-family: 'Baloo Chettan 2';
        opacity: 0.03;
    }

    .difference-insights {
        height: 450px;
    }

    .difference-insights::before {
        content: '';
        position: absolute;
        left: 0;
        top: 25%;
        transform: translateY(-25%);
        height: 10px;
        width: 100%;
        background-color: var(--green01-hex);
    }

    .difference-insights-container {
        height: 100%;
    }

    .insight {
        top: 20% !important;
        transform: translateY(-20%);
        z-index: 3;
    }

    .insight:first-of-type {
        left: 10%;
    }

    .insight:nth-of-type(2) {
        left: 30%;
    }

    .insight:last-of-type {
        left: 50%;
    }

    .insight-images-container {
        height: 400px;
    }

    .insight-images-md {
        top: 60%;
        transform: translate(-5%, -50%);
        right: -5%;
    }

    .insight-images-md .insight-images-container img:first-of-type {
        position: absolute;
        right: 0;
        width: 66%;
        border-top-right-radius: 30px;
        max-height: 66%;
        object-fit: cover;
    }

    .insight-images-md .insight-images-container img:last-of-type {
        position: absolute;
        left: -10%;
        bottom: -10%;
        width: 66%;
        border-top-left-radius: 30px;
        max-height: 66%;
        object-fit: cover;
    }

    .partners.cta-container {
        position: absolute;
        width: 100%;
    }

    .partners-opening {
        margin-top: 8rem;
    }

    footer {
        margin-bottom: 0;
    }
}
